* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*==========================header=================================*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1512px;
  margin: 0 auto;
  padding: 16px 24px;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 32px;
}

.search-wrapper {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 560px;
  max-width: 100%;
  background-color: #fff;
}
.search-events,
.search-location {
  border: none;
  padding: 10px 12px;
  font-size: 14px;
  outline: none;
  flex: 1;
  min-width: 160px;
}
.search-events {
  border-right: 1px solid #ccc;
  background-image: url(/media/icons/lupa.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 36px;
}
.search-btn {
  background-color: #f15b5b;
  color: white;
  border: none;
  padding: 0 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

button.language {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #000;
}

.login-link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.signup-button {
  background-color: #007f8b;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 900px) {
  /* Скрываем поле ввода локации */
  .search-location {
    display: none;
  }

  /* Чтобы .search-events занимал всё доступное место */
  .search-events {
    border-right: none;
  }
}

@media (max-width: 600px) {
  header {
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  /* Размещаем поисковую строку под хедером */
  .search-wrapper {
    position: absolute;
    top: 80px;
    width: calc(100% - 48px); /* учёт padding 24px */
    left: 24px;
    right: 24px;
    margin-top: 20px;
  }
  .logo {
    display: none;
  }
  .header-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .header-right::before {
    content: url("media/icons/Vector.png");
  }

  .intro {
    display: flex;
    flex-direction: column;
    margin: 0 0 80 0;
    position: relative;
  }
  .intro_left {
    margin-left: 0;
    padding: 15px 15px 0 15px;
    position: relative;
  }
  .cyclists-img {
    position: absolute;
    left: 5%;
    bottom: -45%;
  }
}

/*=======================================main===================================*/

main {
  max-width: 1196px;
  margin: 0 auto;
  padding-top: 24px;
}
/*===================section_intro=====================*/

.join_meetup_button {
  background-color: #007f8b;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1196px;
  margin: 71px 0 80px 0px;
  padding-bottom: 12px;
  gap: 40px;
}

.intro_left,
.Join-Meetup_left {
  flex: 1;
}
.intro_left h1 {
  font-size: 42px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 16px;
  line-height: 52px;
}
.intro_left p,
.Join-Meetup_left p {
  font-size: 16px;
  font-weight: 400;
  color: #212121;
  margin-bottom: 24px;
  line-height: 24px;
}

.intro_right {
  flex: 1;
  display: flex;
  justify-content: start;
}

.cyclists-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*===================section-2-events-near=====================*/
.section-2-events-near,
.section-3-events-online,
.section-5-top-categories {
  max-width: 1196px;
  margin: 0 auto;
  padding-top: 12px;
}
.btn-mountain-view {
  margin-right: 80px;
}

.header-section2,
.header-section3,
.header-section5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 28px;
}
.header-section3 {
  padding-top: 40px;
}
.section-2-title,
.section-3-title,
.section-5-title,
.section-6-title,
.section-7-title,
.section-8-title {
  font-size: 28px;
  font-weight: 600;
}
.header-section2-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 500px;
}
.btn-mountain-view {
  background-color: #97cad11f;
  padding-top: 11px;
  padding-bottom: 8px;
  font-size: 20px;
  width: auto;
  max-width: 300px;
  color: #00798a;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-left: 12px; /* Добавьте это */
  padding-right: 12px; /* Добавьте это */
}
.btn-see-all-events {
  color: #00798a;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.cards-events-near,
.cards-events-online {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
}

.card {
  background-color: #f9f9f9;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 272px;
  min-height: 399px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card img {
  height: auto;
  border-radius: 6px;
  vertical-align: middle;
}
.card h3 {
  font-size: 20px;
  margin: 0 0 5px;
  font-weight: 600;
  line-height: 24px;
  color: #212121;
  text-align: left;
}
.card p {
  font-size: 14px;
  color: #777;
  margin: 0;
  text-align: left;
}
.distance {
  padding-bottom: 10px;
  padding-top: 10px;
}
.calendar p {
  color: #212121;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.calendar img {
  padding-right: 6px;
}
.calendar {
  margin-top: 8px;
}

.check-and-ticket {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.check-and-ticket p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #212121;
  padding-right: 5px;
}
.check-and-ticket img {
  padding-right: 2px;
}

/*===================section-4-Join-Meetup=====================*/
.section-4-Join-Meetup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1196px;
  margin-top: 40px;
  gap: 40px;
  background-color: #97cad114;
  border-radius: 8px;
  min-height: 236px; /* не даст сжаться ниже */
}
.Join-Meetup_left h2 {
  color: #212121;
  font-size: 28px;
  font-weight: 600;
  padding-left: 56px;
  padding-top: 36px;
  padding-bottom: 16px;
}
.Join-Meetup_left p {
  padding-left: 56px;
}
.sign-up-button {
  background-color: #e32359;
  color: white;
  border: none;
  padding: 8px 66px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  margin-left: 56px;
}
.hands-img {
  padding-right: 56px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*===================section-5-top-categories=====================*/
.header-section5,
.header-section6,
.header-section7,
.header-section8 {
  margin-top: 64px;
}
.categories-cards {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
}
.icon-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 22px 28px 16px 28px;
  max-width: 146px;
  border-radius: 8px;
  background: rgba(151, 202, 209, 0.08);
}
.icon-category p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
/*===================section-6-popular-cities=====================*/
.text-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #707070;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 28px;
}
.circle-city-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 41px;
}
.card-circle {
  display: flex;
  flex-direction: column;
  align-items: center; /* центрирует по горизонтали */
  text-align: center; /* дополнительно выравнивает текст */
}
.card-circle p {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  color: #212121;
  padding-top: 24px;
  word-spacing: 5px;
}
/*===================section-7-how-works=====================*/
.how-works-conteiners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
.blue-conteiner {
  background-color: #97cad114;
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
}
.blue-conteiner img {
  padding-bottom: 81px;
  margin-left: 24px;
  margin-top: 32px;
  margin-bottom: 24px;
}
.text-how-works {
  padding: 24px;
}
.text-how-works span {
  padding: 0 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #212121;
}
.text-how-works p {
  padding: 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212121;
  margin-bottom: 16px;
  margin-top: 16px;
}
.text-how-works > .btn-see-all-events {
  padding-left: 16px;
}
/*===================section-8-friendships-are-made=====================*/
.friendships-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.card-friendship span {
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #212121;
}
.card-friendship p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #707070;
  margin-bottom: 16px;
}
/*=======================================footer=================================*/
.footer {
  background-color: #212121;
  color: #f6f7f8;
  padding: 40px 24px;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 64px;
}

.footer-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}

.footer-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 32px;
}
.footer-top p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #f6f7f8;
}

.btn-get-started {
  padding: 10px 16px;
  margin-left: 16px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  background-color: #707070;
  margin-bottom: 32px;
}

.footer-middle {
  display: flex;
  gap: 260px;
  flex-wrap: wrap;
  margin-bottom: 32px; /* убрано max-width */
}

.footer-column h4 {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.footer-column a {
  text-decoration: none;
  color: #ccc;
}

.footer-social {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}

.footer-bottom {
  border-top: 1px solid #333;
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.footer-bottom ul {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
}

.app-links {
  display: flex;
  align-items: center;
  gap: 12px;
}
.app-links img {
  max-width: 140px;
  max-height: 40px;
}
